
  <header id="mainheader">

    <nav class="mynav" >

      <div id="navContainer">
            <div id="navMobileButton">
                <img id="menu"style="cursor: pointer;"src="assets/images/menu.png" alt="">

            </div>

          <div id="navLogo"><a routerLink="/" routerLinkActive=""><img src="assets/images/symbol1.png" alt=""></a></div>
          <ul id="ulNavright">
            <li><a href="index.html">HOME</a>
            </li>
            <li><a routerLink="/about" routerLinkActive="">ABOUT-US</a>
            </li>
            <li><a href="contact.html">CONTACT</a>
            </li>

          </ul>


          <ul id="ulNavMobile">
            <li ><a routerLink="/strategy" routerLinkActive="">Strategy</a></li>
            <li  style="hover:background-color:#fff;"><a routerLink="/intro" routerLinkActive="">UI/UX</a>
            </li>
            <li><a routerLink="/intro" routerLinkActive="">Web Design</a>
            </li>
            <li><a routerLink="/intro" routerLinkActive="">Content Management</a></li>
            <li><a routerLink="/intro" routerLinkActive="">Logo Design</a>
            </li>
            <li><a href="start.html">Photo Editing</a>
            </li>
              <div id="navMobileButton1" style="cursor: pointer; margin:40px;"cursor="pointer"><a cursor="pointer;"><img src="assets/images/close.png" width=45px; height=45px; alt=""></a></div>
          </ul>

          </div>
    </nav>



  </header>
