<footer>
  <div id="footerContainer">
    <div class="footerBox">
      <h1>Web Design</h1>
      <a href="#">  <img src="assets/images/facebook-icon.png" alt=""></a>
      <a href="#">  <img src="assets/images/instagram-icon.png" alt=""></a>
      <a href="#">  <img src="assets/images/twitter-icon.png" alt=""></a>
      <a href="#">  <img src="assets/images/youtube-icon.png" alt=""></a>
    </div>

    <div class="footerBox">
      <h2>Contact Us</h2>
      <p><span style="color:#227093;">Tel:</span> 0123 123 45 67</p>
      <p><span style="color:#227093;">Mail:</span> webdesign@info.com</p>
      <p><span style="color:#227093;">Web:</span> www.domain.com</p><br>
      <p><span style="color:#227093;">Adress:</span> Web City Design Street No: 0123456</p>
    </div>

    <div class="footerBox">
      <h2>Subscribe</h2>
      <p>You can follow us by using your mail address...</p>
      <form >
        <input type="e-email" name="mail" placeholder="Please write your e-mail adress..." required><br>
        <input type="submit" name="mail" value="SUBSCRIBE" style="background:#227093; color:#ffffff; cursor:pointer;">
      </form>
    </div>
    <div style="clear:left;"></div>
  </div>
  <div id="copyright">
      &copy 2018 - Designed by WEB-DESIGN... for best designs...
  </div>

</footer>
