<div id="headerContainer">
  <div id="headerTop">
    <ul id="ulTopLeft">
      <li><a href="index.html">HOME</a></li>
      <li><a  routerLink="/about" routerLinkActive="" >WHO WE AR</a></li>
      <li><a  routerLink="/intro" routerLinkActive="" >intro</a></li>
    </ul>
<div id="TopRight">

  <div class="topContactLogo"> <img src="assets/images/phone-icon.png" alt=""></div>
  <div class="topContactText">0123 123 34 56</div>

  <div class="topContactLogo"><img src="assets/images/mail-icon.png" alt=""> </div>
  <div class="topContactText">info@webdesign.com</div>
</div>
<div style="clear:both"></div>
</div>
<div id="headerText">
<h1>WELCOME SiePlus DESİGN-STUDIO</h1>
<h2>Develope Best Designs</h2>
<h3>Creating For Your Choice....</h3>


<div id="headerButtons">
<a href="projects.html">Projects</a>
<a href="templates.html">Tamplates</a>
</div>
</div>
</div>
