<div id="gamze">
  <nav>

    <div id="navContainer">
        <div id="navLogo">SieFi</div>
        <ul id="ulNavright">
          <li><a  routerLink="/home" routerLinkActive="" >HOME</a>
          </li>
          <li><a  routerLink="/about" routerLinkActive="" >WHO WE AR</a>
          </li>
          <li><a href="contact.html">Contact</a>
          </li>
          <li><a  routerLink="/intro" routerLinkActive="" >intro</a>
          </li>
        </ul>
        <div id="navMobileButton"></div>
        <ul id="ulNavMobile">
          <li><a href="index.html">HOME</a>
          </li>
          <li><a href="about-us.html">WHO WE ARE</a>
          </li>
          <li><a href="services.html">Services</a>
          </li>
          <li><a href="contact.html">Contact</a>
          </li>
          <li><a href="start.html">Let's Start</a>
          </li>
        </ul>
        </div>
  </nav>

</div>
<div style="clear: both;">

</div>
