
<video  id="video" loop="true"  playsinline muted autoplay>
<source src="assets/images/intro.mp4" type="video/mp4">
</video>

<section class="strategySection">


  <div class="main_image" style="background:url(assets/images/strategyimage.jpg);
  height:720px; width:1280px; margin:auto; background-size:cover">
<h1>Strategy</h1>
  </div>

<img src="assets/images/strategy.jpg" >


<article>
  <div class="iconBox"  style="background:url(assets/images/icons/strategy-game.png); "> </div>
  <div class="category__list">
    <ul>
    <li><span class="icon icon-service icon-service--1"></span> <small>Strategy Blueprints</small></li>
    <li><span class="icon icon-service icon-service--2"></span> <small>Market Research</small></li>
    <li><span class="icon icon-service icon-service--3"></span> <small>Customer Interviews</small></li>
    <li><span class="icon icon-service icon-service--4"></span> <small>Buyer Personas</small></li>
    <li><span class="icon icon-service icon-service--5"></span> <small>Customer Journeys</small></li>
    <li><span class="icon icon-service icon-service--6"></span> <small>Competitive Analysis</small></li>
    <li><span class="icon icon-service icon-service--7"></span> <small>SWOT Analysis</small></li>

  </ul>

  </div>
  <div class="category__Text">
    {{ date | date:'short' }}
    {{ date | date:'shortDate' }} <br>
    {{ date | date:'shortTime' }}
    <p> &euro; When it comes to the success of your website, app or software,
       strategy is everything. It’s the foundation for your success. It’s do or die.</p>
    <p>
    We understand business. That's why we begin every project with a workshop
    — crafting a one-of-a-kind, unique strategy that is designed to help you win.
</p>
  </div>



</article>
<div style="clear:both;"></div>
</section>
