<section  class="unlimitedSec" style="background:url(assets/images/image11.jpeg);
background-size:cover; background-position:center;">
  <div class="unlimitedSecContainer">
    <div class="unlimitedSecLeft">
      <h1>WE ARE READY</h1>
      <h2>Glad to design for you.... </h2>
      <p>Es gibt viele Variationen der Passages des Lorem Ipsum, aber der Hauptteil
        erlitt Änderungen in irgendeiner Form, durch Humor oder zufällige Wörter welche nicht
        einmal ansatzweise glaubwürdig aussehen.

       </p>

      <p style="border-bottom: 2px solid #ffffff;">Das generierte Lorem Ipsum ist außerdem frei von Wiederholungen, Humor oder unqualitativen Wörter etc, ...
      </p>

    </div>
  </div>
</section>
